.todo-list-item {
    display: flex;
    align-items: center;
}

.todo-list-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.todo-list-label:last-child{
    margin-left: auto;
    align-items: flex-end;
}

.todo-list-item.important .todo-list-label {
    font-weight: bold;
    color: #28a745;
}

.todo-list-item.done .todo-list-label {
    text-decoration: line-through;
}

.btn-important {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.fa-star {
    margin-right: 5px;
}
